<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.g_ravel"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.example.g_ravel_etcProgramming.Gravel_static">
        <activity
            android:name=".Intro"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.example.g_ravel.Login"
            ></activity>
        <activity 
            android:name="com.example.g_ravel.Agreement"
            ></activity>
        <activity 
            android:name="com.example.g_ravel.JoinWrite"
            ></activity>
        <activity 
            android:name="com.example.g_ravel.CheckMe"
            ></activity>
        <activity 
            android:name="com.example.g_ravel.IdpwSearch"
            ></activity>
        <activity 
            android:name="com.example.g_ravel.MemberMain"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel.ChooseBigArea"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel.ChoosePlanhow"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel.BestRoadLevel1"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel.BestRoadLevel2"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel.BestRoadLevel3"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel.BestRoadLevel4"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel.BestRoadLevel5"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel.MakeRoadLevel1"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel.MakeRoadLevel2"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel.MakeRoadLevel3"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel.MakeRoadLevel4"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel_travelNote_event.Event_info"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel_travelNote_event.Event_main"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel_travelNote_event.TravelNote_main"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel_myinfo.Myinfo_main"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel_myinfo.Myinfo_myStamp"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel_myinfo.Myinfo_oftenArea"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel_myinfo.Myinfo_see"
            ></activity>
        <activity 
            android:name="com.example.g_ravel_goTravel_myinfo.Myinfo_travelRecord"
            ></activity>
    </application>

</manifest>
